{% extends 'core/base.html' %}

{% block title %}Edit Text{% endblock %}

{% block header %}
	<h4>Edit Text</h4>
	<a href="{% url 'main' %}">Main</a> | <a href="{% url 'my_texts' %}">My Texts</a>
{% endblock %}

{% block content %}
	<div class="row box">
		<div class="col-12">
			<p>Edit the text, then click save.</p>
			<form method="post">
				{% csrf_token %}
				<table class="table">
					{{ form }}
				</table>
				<button type="submit" class="btn btn-outline-dark">Save</button>
			</form>
		</div>	
	</div>
{% endblock %}
